<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--
        PHP backend'e istek atmak için internet izni gerekir.
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        İleride QR okutma için kamera izni gerekir.
    -->
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EBiletJava"
        tools:targetApi="31">
        <!-- Etkinlik detay ekranı -->
        <activity
            android:name=".ui.ticket.TicketDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ticket.MyTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.event.EventDetailActivity"
            android:exported="false" />

        <!-- Ana ekran -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />

        <!-- Kayıt ekranı -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- İlk açılan ekran -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>